Repository relectric-car-team/user-interface, pull requests merged in 2021-03, with the labels that each got.

#20 Feat/brooke/homepage
  src/pages/ComponentModal.css
  src/pages/Home.tsx
Labels: automerge, css, feature, front-end

#21 chore: Disable automerge via action
  .github/workflows/automerge.yml
Labels: automerge, devops

#22 chore: Revert disable automerge via action
  .github/workflows/automerge.yml
Labels: automerge, devops

#25 fix: Cleaned up yarn & npm conflict
  package-lock.json
  yarn.lock
Labels: automerge, bug

#33 Removed seconds display from the time display container.
  src/components/DateTime.tsx
Labels: automerge, bug, front-end

#35 fix: Always use dark mode
  src/theme/variables.css
Labels: automerge, bug, css
